html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: Arial, sans-serif;
      color: white;
      text-align: center;
    }

    body {
      background: url('Dredge_Bucket.png') no-repeat center center fixed;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.6);
	  width: 40%;
      padding: 2rem;
      border-radius: 10px;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    .countdown {
      font-size: 1.5rem;
      font-weight: bold;
    }
	
	nav {
	  background-color: rgba(0, 0, 0, 0.6);
	  padding: 1rem;
	  position: fixed;
	  width: 100%;
	  top: 0;
	  left: 0;
	}

	nav a {
	  color: white;
	  margin: 0 15px;
	  text-decoration: none;
	  font-weight: bold;
	}

	footer {
	  background-color: rgba(0, 0, 0, 0.6);
	  padding: 1rem;
	  position: fixed;
	  width: 100%;
	  bottom: 0;
	  left: 0;
	}
	
	footer a {
	  color: white;
	  font-size: 0 13px;
	  text-decoration: none;
	  font-weight: normal;